<!DOCTYPE html>
<html>
<head>

<link type="text/css" rel="stylesheet" href="/assets/stylesheets/app.css">
<link type="text/css" rel="stylesheet" href="/assets/stylesheets/loader.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

<link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick/slick/slick-theme.css"/>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body style='max-width: 1010px; margin: 0 auto; position: relative;'>

<div class='nav-bar-top white-bkg'>
  <div class='item-box' style='left: 0% !important; text-align: left !important;'>
    <span id = 'h-btn'  style='font-size: 25px; line-height: 25px;'>Patrick Riel</span>
  </div>
  <div class='item-box'>
    <span id = 'p-btn'>Projects</span>
<!--     <span id = 'r-btn'>Resume</span> -->
    <span id = 'c-btn'>Contact</span>
  </div>
</div>


<div class='custom-container h-550' style='padding-top: 45px;'>
  <div class='box white-bkg' style='height: 85%;'>
    <div class='left-0-50 height-100 border-right-blue absolute'>
      <div class='relative center-text'>
        <p>
        I'm an avid programmer who just recently graduated from San Francisco State University with a B.S. in Computer Science. I enjoy skiing, hiking, eating good food, drinking great beer, ping pong, fantasy football, and working on all aspects of a technology stack. Distributed systems, databases, asynchronous communication, software architectural patterns (MVC, Observer, etc), agile development, version control, and open source projects excite me.
        </p> 
      </div>
    </div>
  
    <div class='left-50-100 height-100 absolute'>
      <div class='relative'>
        <img class='image-center' src ='assets/images/def_image.png' style='' alt='def_image'>
      </div>
    </div>

  </div>
</div>

<div class='custom-container h-550' id ='p-div' style='height: 850px;'>
  <div class='box white-bkg' style='height: 85%;'>
    <h3>Projects</h3>
    <h4>Know Friends</h4>
    <ul>
      <li>An application designed to easily communicate what events you're participating in so friends can join in </li>
      <li>Client side of the application was developed in Swift 2.0 for iOS 9</li>
      <li>Server side of the application was developed in PHP on an AWS EC2 instance</li>
    </ul>
    <div class="multiple-items" style=''>
      <div><img src ='assets/images/KF3.png' style='' alt='def_image'/></div>
      <div><img src ='assets/images/KF1.png' style='max-width: 100%; max-height: 100%;' alt='def_image'/></div>
      <div><img src ='assets/images/KF4.png' style='max-width: 100%; max-height: 100%;' alt='def_image'/></div>
      <div><img src ='assets/images/KF6.png' style='max-width: 100%; max-height: 100%;' alt='def_image'/></div>
      <div><img src ='assets/images/KF5.png' style='max-width: 100%; max-height: 100%;' alt='def_image'/></div>
      <div><img src ='assets/images/KF2.png' style='max-width: 100%; max-height: 100%;' alt='def_image'/></div>
    </div>

  </div>
</div>

<div class='custom-container h-550' style='height: 750px;'>
  <div class='box white-bkg' style='height: 85%;'>
    <h4>Texas Holdem</h4>
    <ul>
      <li>Texas Holdem Web Application</li>
      <li>Supports multiple concurrent poker tables and real-time chat</li>
      <li>Built with
      <a href="http://rubyonrails.org/" style='color: #428bca; text-decoration: none;'>Ruby on Rails</a>,  
      <a href="http://puma.io/" style='color: #428bca; text-decoration: none;'>Puma</a>, 
      <a href="https://github.com/plataformatec/devise" style='color: #428bca; text-decoration: none;'>Devise</a>, 
      <a href="https://pusher.com/" style='color: #428bca; text-decoration: none;'>Pusher</a>, and 
      <a href="http://deck-of-cards.js.org/" style='color: #428bca; text-decoration: none;'>deck-of-cards</a>
     </li>
    </ul>
    <div class="single-item" style=''>
      <div><img src ='assets/images/1.png' style='max-width: 100%; max-height: 100%;' alt='def_image'></div>
      <div><img src ='assets/images/2.png' style='max-width: 100%; max-height: 100%;' alt='def_image'></div>
      <div><img src ='assets/images/3.png' style='max-width: 100%; max-height: 100%;' alt='def_image'></div>
      <div><img src ='assets/images/4.png' style='max-width: 100%; max-height: 100%;' alt='def_image'></div>
    </div>
  </div>
</div>

<!-- <div class='custom-container h-550' id = 'r-div'>
  <div class='box white-bkg' style='height: 85%;'>
    <h3>Resume</h3>

  </div>
</div> -->

<div class='custom-container h-550' id = 'c-div'>
  <div class='box white-bkg' style='height: 85%;'>
    <h3>Contact</h3>
  

    <div class='form-container'>
      <form action="/contact" method="POST" id = 'contact-form'>


        <input id = "formNameId" placeholder="Enter Your Name" type="text" name="name" required>
        <span class='error_id' id='formNameIdError'></span><br>

        <input id = "formEmailId" placeholder="Enter Your Email" type="text" name="email" required>
        <span class='error_id' id='formEmailIdError'></span><br>

        <input id = "formPhoneId" placeholder="Enter Your Phone Number (optional)" type="text" name="phone"><br>
        <textarea id = "formMessageId" rows="5" name="message" placeholder="Enter Your Message" required></textarea>
        <span class='error_id' id='formMessageIdError'></span><br>

        <input type="button" value="Send Message" id ='submitForm'>
      </form>
    </div>

  </div>
</div>


<div class='loading-bkg display-none' id = 'loadingBackground'>
  <div style='top: 25%;' class='loader'></div>
  <div class='loader-msg' id ='loadingMsg'>
        Sending Patrick Your Message...
  </div>
</div>




<script type="text/javascript">

var loadingBackground = document.getElementById("loadingBackground");
var loadingMsg = document.getElementById("loadingMsg");
var formNameError = document.getElementById("formNameIdError");
var formEmailError = document.getElementById("formEmailIdError");
var formMessageError = document.getElementById("formMessageIdError");

var contactForm = document.getElementById("contact-form");
var contactSubmit = document.getElementById("submitForm");

  addEvent = function(object, type, callback) {
    if (object === null || typeof(object) === 'undefined') return;
    if (object.addEventListener) {
        object.addEventListener(type, callback, false);
    } else if (object.attachEvent) {
        object.attachEvent("on" + type, callback);
    } else {
        object["on"+type] = callback;
    }
  };
  addEvent(window, "load", function(){
    $('.single-item').slick();
    $('.multiple-items').slick();
  });


// this is the id of the form
  var homeButton = document.getElementById('h-btn');
  var projectButton = document.getElementById("p-btn");
  var resumeButton = document.getElementById("r-btn");
  var contactButton = document.getElementById("c-btn");
  var projectDiv = document.getElementById("p-div");
  var resumeDiv = document.getElementById("r-div");
  var contactDiv = document.getElementById("c-div");

  addEvent(homeButton, "click", function(){
    $('html,body').animate({
      scrollTop: 0},
      'fast'
    );   
  })
  addEvent(projectButton, "click", function(){
    $('html,body').animate({
      scrollTop: projectDiv.offsetTop -  44},
      'fast'
    );
  })
  addEvent(resumeButton, "click", function(){
    $('html,body').animate({
      scrollTop: resumeDiv.offsetTop -  44},
      'fast'
    );
  })
  addEvent(contactButton, "click", function(){
    $('html,body').animate({
      scrollTop: contactDiv.offsetTop -  44},
      'fast'
    );
  })


  function sendForm(form, url, callback){
    $.ajax({
      type: "POST",
      url: url,
      data: $(form).serialize(), // serializes the form's elements.
      success: function(data){
        callback(data)
      }
    });
  }

  // this is the callback for sendForm at the moment
  // 
  function finishedLoadingMsg(){
    loadingMsg.innerHTML = "Your message has been sent";
  }
  function removeLoadingScreen(){
    loadingBackground.className = "loading-bkg display-none";
    loadingMsg.innerHTML = "Sending Patrick Your Message...";
    formNameError.innerHTML = "";
    formEmailError.innerHTML = "";
    formMessageError.innerHTML = "";
    clearFormFields(contactForm);
  }
  function clearForm(data){
    var obj = JSON.parse(data);
    if(obj.success){
      setTimeout(finishedLoadingMsg, 1000);
      setTimeout(removeLoadingScreen, 2500);
    }
    else{

    }
  }

  addEvent(contactSubmit, "click", function(){
    var data = parseForm(contactForm);
    if(data.success){
      loadingBackground.className = "loading-bkg";
      formNameError.innerHTML = "";
      formEmailError.innerHTML = "";
      formMessageError.innerHTML = "";
      sendForm(contactForm, "/contact", clearForm);
    }
    else{
      var error = "Error";
      for(key in data.data){
        var id = [data.data[key], error].join("");
        var element = document.getElementById(id);
        element.innerHTML = "*";
      }
    }
  });

  var clearFormFields = function(form){
    var elements = form.elements;
    for (var i = 0, element; element = elements[i++];) {
      if (element.type === "button")
        ;
      else{
        element.value = "";
      }
    }
  }

  var parseForm = function(form){
    var elements = form.elements;
    var data = {};
    var errors = {};
    for (var i = 0, element; element = elements[i++];) {
      if (element.type === "button")
        ;
      else if ((element.value === "" || element.value === null) && element.required === true)
        errors[i] = element.id;
      else{
        var key = element.name;
        data[key] = element.value;
      }
    }

    if (!isEmpty(errors)) {
      return {success: false, data: errors };
    }
    return {success: true, data: data };
  }

  var hasOwnProperty = Object.prototype.hasOwnProperty;
  function isEmpty(obj) {
    if (obj == null) return true;
    if (obj.length > 0)    return false;
    if (obj.length === 0)  return true;
    for (var key in obj) {
      if (hasOwnProperty.call(obj, key)) return false;
    }
    return true;
  }

</script>



</body>

</html>